* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-form {
  padding: 1rem;
  margin: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100%;
}
.form-label {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
}
.form-btn {
  font-size: 15px;
  width: 75px;
  border-radius: 10px;
  padding: 4px;
  margin-left: 360px;
}
.text-center {
  margin-top: 10px;
}
@media (min-width: 980px) {
  .my-form {
    max-width: 800px;
    margin: 0 auto;
  }
}
